.Navbar-Section{
    
    /* background-color: aquamarine; */
    display: flex;
    display: inline;
    justify-content: center;
    height: 100px;
   
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.NavIcons{
     display: inline;
     display: flex;
     justify-content: center;
     color: black;
     list-style: none;
     cursor: pointer;
     padding: 10px;
     gap: 40px;
     z-index: 2;
     
     
}

.search-bar{
    display: flex;
    height: 29px;
    color: black;
    
    border-radius: 3px;
}
button1{
   
 background-color: black;
   cursor: pointer;
   height: 28px;
   width: 30px;
   border-radius: 3px;
}


















/* .Navbar-Section
   {
    display: flex;
    height: 100px;
    gap:50px;
    padding: 10px 0px;
  
}

img{
    height: 60px;
    border-radius: 50%;
    padding: 0px 0px;
    cursor: pointer;
}

.Links{

    display: flex;
    align-items: center;
    

}

.NavIcons {
    color: rgb(7, 83, 5);
    display: flex;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    list-style: none;
  }
  
 */
