.Hero-Section
   {
    height: 100vh;
    scroll-snap-align:center;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    
    }

.Hero-mainContainer1{
   
    /* background-color: rgb(0, 0, 0);  */
   
   margin: 20px;
   height: 80vh;
   justify-content: center;
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
   
   position:relative;
   ;
}
.LeftContainer{
  
   justify-content: center;
   align-items: center;
   /* background-color: red; */
   /* display: inline-block;  */
   /* display: inline; */
   border-radius: 50%;
   padding: 20px 20px;
   height: 70vh;
   width: 70vh;
   
}
.color-text{
   color: rgb(222, 219, 215);
}

.RightContainer{
   background-color: rgb(0, 0, 0);
   /* display: inline-block;  */
   justify-content: center;
   border-radius: 50%;
   padding: 20px 20px;
   height: 60vh;
   width: 60vh;
   /*  animation for moving logo
 */
   
 animation: animate 1s infinite ease alternate;
 @keyframes animate{
   to{
      transform: translateY(300px);
   }
 }
}

.button1{
   color: rgb(238, 117, 25);
   /* color: rgb(45, 217, 2, 1); */
   cursor: pointer;
   
   
}
/* img{
   display: block;
   justify-content: center;
   background-color: rgb(204, 13, 118);
   height: 35vh;
} */

